<section id='body_content'>
  <%=raw @page.content_for(:body) %>
</section>
<section id='middle_body_content'>
  <%=raw @page.content_for(:middle_body) %>
</section>
<section id='side_body_content'>
  <%=raw @page.content_for(:side_body) %>
</section>
